@font-face {
    font-family: jetbrainsmono;
    src: url("/jetbrains-mono.ttf") format("truetype");
}
html {
    background: #222;
}
canvas {
    position: fixed;
    left: 50vw;
    top: 50vh;
    aspect-ratio: 16/9;
    transform: translate(-50%, -50%);
    background: black;
    z-index: 1;
}
@media not (min-width: calc(16/9 * 100vh)) {
    canvas {
        width: 100vw;
    }
}
@media (min-width: calc(16/9 * 100vh)) {
    canvas {
        height: 100vh;
    }
}
#menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    font-family: jetbrainsmono;
    z-index: 3;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#menu h1 {
    font-size: 50px;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
}
#menu h2 {
    font-size: 30px;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
}
#menu button {
    background: black;
    border: 2px solid white;
    font: inherit;
    color: white;
    font-size: 40px;
    padding: 20px;
    cursor: pointer;
}
#menu button:hover {
    background: white;
    color: black;
}
#score {
    font-family: jetbrainsmono;
    z-index: 2;
    position: fixed;
    left: 5px;
    top: 5px;
    color: white;
    font-size: 20px;
}
#leaderboard {
    position: fixed;
    right: 20px;
    top: 50vh;
    transform: translateY(-50%);
    text-align: right;
}
